extends _layout

block vars
  - var pageTitle = "Betterfleet page";
  - var pageClass = "betterfleet-page";
  - var pageActive = "betterfleet-page";

block content
  div.main-wrap
    .hero
      .hero__inner.webp-img(
        data-img="./img/bg-px2.png"
        data-webp="./img/bg-px2.webp")
        .hero__bg
          picture
            source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="./img/hero-betterfleet01.webp" type="image/webp")
            img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="./img/hero-betterfleet01.jpg" alt="img" height="650").lazyload
          .hero__bg-overlay.webp-img(
            data-img="./img/hero-gradient.png"
            data-webp="./img/hero-gradient.webp")
        .hero__content.site-container
          .hero__geom-wrap
            .hero__geom
              picture
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/hero-geom.svg" alt="img" width="1190" height="550").lazyload
            h1.hero__title BETTERFLEET
          .hero__text Our BetterFleet platform and services provide the most cost effective, accurate, fast and flexible way to understand the future scenarios for your fleet, make holistic strategic decisions in the new world of zero emissions technologies and manage your new assets.
          .hero__btn
            a(href="./blog.html").hero__btn-i.site-btn.site-btn--violet
              span REQUEST A DEMO


    .section-circle
      .section-circle__inner.site-container.border-top.js_site-tab
        .section-circle__title.section-title LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH EUISMOD TIN.
        .section-circle__head.site-tab__wrapper
          .section-solution__tab.site-tab
            .section-solution__tab-item.site-tab__item.active(data-tab-name="betterfleet01")
              span Plan
            .section-solution__tab-item.site-tab__item(data-tab-name="betterfleet02")
              span Manage
        .section-circle__body.site-tab__body
          .site-tab__content.active(data-tab-content="betterfleet01")
            .section-circle__row.custom-row
              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") BetterFleet Emulation
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE

              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") BetterFleet Optimisation
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE

              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") Future Fleet Asset <br>Replacement Planning
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE

              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") Future Fleet Asset <br>Infrastructure Planning
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE

              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") Fleet Data Analytics
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE


              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") Fleet Data Analytics <br>accounting and forecasting
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE

          .site-tab__content(data-tab-content="betterfleet02")
            .section-circle__row.custom-row
              .section-circle__item.custom-col.item-bg
                a(href="#").section-circle__item-img-wrapper
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/template-small.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/template-small.jpg" alt="img").lazyload

                .section-circle__item-descr 
                  a(href="#") BetterFleet Emulation
                .section-circle__item-bnt
                  a(href='#').section-circle__item-link READ MORE


    .section-btabs
      .section-btabs__inner.site-container.border-top.border-bottom
        .section-btabs__body
          .section-btabs__content
            .section-btabs__info.align-items-start
              .section-title THE MOST EFFICIENT AND COST EFFECTIVE WAY TO IMPROVE OPERATIONAL, FINANCIAL AND ENVIRONMENTAL OUTCOMES
              .section-btabs__text Planning your  future ﬂeet is becoming even more complex. The shift to electric and shared vehicles is bringing new risks and opportunities. <br><br>
                | Betterﬂeet is the ﬁrst ﬂeet management software in Australia built from the ground up to focus on these new dynamics.

            .section-btabs__media
              .section-btabs__media-i
                picture
                  source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="./img/tesla-img.webp" type="image/webp")
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/tesla-img.jpg" alt="img" width="1024" height="580").lazyload



    .section-strategic
      .section-strategic__inner.site-container
        .section-strategic__title.section-title.center A STRATEGIC TRANSITION REQUIRES
        .section-strategic__head
          .section-strategic__head-item
            .section-strategic__head-item-content Future transport optimisation
          .section-strategic__head-item
            .section-strategic__head-item-content Infrastructure optimisation
          .section-strategic__head-item
            .section-strategic__head-item-content Behavioural change
        .section-strategic__big-title BETTERFLEET
        .section-strategic__center
          .section-strategic__center-list.custom-row
            .section-strategic__center-item.custom-col
              .section-strategic__center-content
                .section-strategic__center-ico
                  picture
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/strategic01.svg" alt="img" width="67" height="67").lazyload
                .section-strategic__center-txt
                  .section-strategic__center-name LOWER CARBON
                  .section-strategic__center-desk Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
            .section-strategic__center-item.custom-col
              .section-strategic__center-content
                .section-strategic__center-ico
                  picture
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/strategic02.svg" alt="img" width="67" height="67").lazyload
                .section-strategic__center-txt
                  .section-strategic__center-name LOWER COST PER KM
                  .section-strategic__center-desk Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
            .section-strategic__center-item.custom-col
              .section-strategic__center-content
                .section-strategic__center-ico
                  picture
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/strategic03.svg" alt="img" width="67" height="67").lazyload
                .section-strategic__center-txt
                  .section-strategic__center-name PRODUCTIVES TAFF
                  .section-strategic__center-desk Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
            .section-strategic__center-item.custom-col
              .section-strategic__center-content
                .section-strategic__center-ico
                  picture
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/strategic04.svg" alt="img" width="67" height="67").lazyload
                .section-strategic__center-txt
                  .section-strategic__center-name SAFE & SATISIFIED STAFF
                  .section-strategic__center-desk Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.

    .section-solution.border-top
      .section-solution__inner.site-container.js_site-tab
        .section-solution__title.section-title HEADING
        .section-solution__head
          .site-tab__wrapper
            .section-solution__tab.site-tab
              .section-solution__tab-item.site-tab__item.active(data-tab-name="betterfleet11")
                span BetterFleet Platform
              .section-solution__tab-item.site-tab__item(data-tab-name="betterfleet12")
                span Subscription Reports
              .section-solution__tab-item.site-tab__item(data-tab-name="betterfleet13")
                span Consulting Services

        .section-solution__body
          .section-solution__content.active(data-tab-content="betterfleet11")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text Create a powerful executive report in minutes with our free fleet management software for Australian Fleets. Including a powerful free fleet car operating cost calculator and fully customisable new vehicle analytics tool and scenario analysis.
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload





          .section-solution__content(data-tab-content="betterfleet12")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text Example 02
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload



          .section-solution__content(data-tab-content="betterfleet13")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text Example 03
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload



    .section-modules
      .section-modules__inner.site-container
        .section-modules__title.section-title.section-title--secondary BETTERFLEET MODULES
        .section-modules__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.
        .section-modules__list.custom-row
          .section-modules__list-col.custom-col
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules01.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules01.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name BASIC PROCUREMENT ANALYSIS
                .section-modules__body
                  p Free fleet management software to compare hundreds of vehicles and create high-level business models to evaluate vehicles based on cost, emissions, safety and features.
                  p Comprehensive localised cost engine including all taxes and duties, on-road costs and annual running costs
                  p Every procurement analysis fully customizable: financing structures, residual values, fuel costs, green power, servicing costs, FBT/BIK taxes.
                  p Powerful scenario analysis around holding periods, fuel inflation, km procured.
                a(href="#").section-modules__link FREE TO SIGN UP
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules02.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules02.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name ADVANCED FLEET PLANNING
                .section-modules__body
                  p Build long term fleet transition plans and asset replacement strategies based on emergence of new eMobility options (shared, electric, autonomous).
                  p Comprehensive localised cost engine including all taxes and duties, on-road costs and annual running costs
                  p Comprehensive localised cost engine including
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules03.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules03.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name FLEET PRODUCTIVITY OPTIMISATION
                .section-modules__body
                  p Data and analytics to improve fleet performance - fleet utilisation, trip distances, fuel efficiency, peak demand, downtime and staff satisfaction.
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules04.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules04.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name TRAVEL STAFF SURVEYS
                .section-modules__body
                  p Understand current staff travel dynamics to understand the  potential for change
          .section-modules__list-col.custom-col
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules05.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules05.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name ADVANCED PROCUREMENT
                .section-modules__body
                  p Input your own vehicles to understand the best replacements based on your own criteria.
                  p Analysis of more complex operational vehicle requirements.


            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules06.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules06.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name CHARGING INFRASTRUCTURE <br>ANALYSIS AND PROCUREMENT
                .section-modules__body
                  p Manage your charging implementation program from end to end.
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules07.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules07.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name ELECTRIC VEHICLE TECHNICAL DATA
                .section-modules__body
                  p Most trusted source of electric vehicle technical data. Real range (in geographic location)
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules08.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules08.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name FLEET SUSTAINABILITY REPORTING
                .section-modules__body
                  p Create emissions targets (CO, CO2, HC,PM, NOx ),  understand the dynamics to get you there, and track performance.
                  p Comprehensive localised cost engine including all taxes and duties, on-road costs and annual running costs
            .section-modules__item
              .section-modules__item-content
                .section-modules__head
                  .section-modules__ico
                    picture
                      source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/modules09.webp" type="image/webp")
                      img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/modules09.png" alt="img" height="60" width="60").lazyload
                  .section-modules__name ELECTRIC VEHICLE <br>PERFORMANCE TRACKING
                .section-modules__body
                  p Track how your electric vehicle ﬂeet is performing against expectation - battery performance in local conditions, battery degradation and charging optimisations.



        .section-modules__btn
          a(href="#").section-modules__btn-i.site-btn.site-btn--violet FREE TO SIGN UP
          a(href="#").section-modules__btn-i.site-btn.site-btn--yellow REQUEST A DEMO



    .section-problems
      .section-problems__inner.site-container
        .section-problems__title.section-title.center SYSTEM INTEGRATIONS
        .section-problems__text Our modules integrate with a growing number of Fleet Management systems, <br>
          | accounting packages and booking systems
        .section-problems__list.custom-row
          .section-problems__item.custom-col
            .section-problems__case.color-case.orange
              .section-problems__case-ico
                picture
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/problems04-ico.svg" alt="img" width="220" height="220").lazyload
              .section-problems__case-text Data from multiple <br>GPS systems
          .section-problems__item.custom-col
            .section-problems__case.color-case.violet
              .section-problems__case-ico
                picture
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/problems05-ico.svg" alt="img" width="220" height="220").lazyload
              .section-problems__case-text Fuel card data
          .section-problems__item.custom-col
            .section-problems__case.color-case.blue
              .section-problems__case-ico
                picture
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/problems06-ico.svg" alt="img" width="220" height="220").lazyload
              .section-problems__case-text Logbook data


    .section-connect.bg-right
      .section-connect__inner.site-container
        .section-connect__image-wrapper
          .section-connect__image
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="./img/connect-2.webp" type="image/webp")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="./img/connect-2.png" alt="img" width="574" height="380").lazyload

        .section-connect__text-wrapper.txt-start.justify-start
          .section-connect__title.mb-middle.section-title.section-title--secondary CASE STUDY HEADING
          .section-connect__subtitle.mb-middle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow View case study


    .section-connect
      .section-connect__inner.site-container
        .section-connect__text-wrapper
          .section-connect__title.section-title.section-title--secondary WORK WITH US
          .section-connect__subtitle Get in touch to find out more about how we can help.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow LET’S CONNECT
