extends _layout

block vars
  - var pageTitle = "Contact page";
  - var pageClass = "contact-page";
  - var pageActive = "contact-page";

block content
  div.main-wrap
    .section-top
      .section-top__bg
        .section-top__img
          picture
            source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="./img/buses-img.webp" type="image/webp")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="./img/buses-img.png" alt="img" width="1024" height="580").lazyload
        .section-top__overlay.webp-img(
          data-img="../img/web-dev/top-bg-image.jpg"
          data-webp="../img/web-dev/top-bg-image.webp"
          data-img-mobile="../img/web-dev/top-bg-image-mobile.jpg"
          data-webp-mobile="../img/web-dev/top-bg-image-mobile.webp")
      .section-top__inner.site-container