extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap
    .hero.webp-img(
      data-img="../img/web-dev/top-bg-image.jpg"
      data-webp="../img/web-dev/top-bg-image.webp"
      data-img-mobile="../img/web-dev/top-bg-image-mobile.jpg"
      data-webp-mobile="../img/web-dev/top-bg-image-mobile.webp")
      .hero__inner
        .hero__bg
          picture
            source(data-srcset="./img/hero-home.webp" type="image/webp")
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="./img/hero-home.png" alt="img").lazyload
        .hero__content.site-container
          .hero__geom-wrap
            .hero__geom
              picture
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/hero-geom.svg" alt="img" width="1190" height="550").lazyload
            h1.hero__title CREATING A BETTER TRANSPORT FUTURE
          .hero__text Supporting ﬂeets, the public sector and energy distributors to accelerate the transition to zero emissions transport with our industry leading software and advisory services.
          .hero__btn
            a(href="#").hero__btn-i.site-btn.site-btn--violet
              span FIND OUT MORE





















    .section-clients
      .section-clients__inner.site-container
        .section__logo-row
          .section__logo-title CLIENTS
          .section__logo-items
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")






















  .section-connect
      .section-connect__inner.site-container
        .section-connect__title WORK WITH US
        .section-connect__subtitle Get in touch to find out more about how we can help.
        .section-connect__btn
          a(href='#').site-btn.site-btn--yellow Let's connect



