extends _layout

block vars
  - var pageTitle = "Service page";
  - var pageClass = "service-page";
  - var pageActive = "service-page";

block content
  div.main-wrap
    .hero
      .hero__inner
        .hero__bg
          picture
            source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="./img/service-home.webp" type="image/webp")
            img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="./img/service-home.png" alt="img" width="1190" height="650").lazyload
        .hero__content.site-container
          .hero__geom-wrap
            .hero__geom
              picture
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/hero-geom.svg" alt="img" width="1190" height="650").lazyload
            h1.hero__title Future Energy, eMobility and <br>Electric Vehicle Fleet Advisory
          .hero__text Supporting ﬂeets, the public sector and energy distributors to accelerate the transition to zero emissions transport with our industry leading software and advisory services.
          .hero__btn
            a(href="./blog.html").hero__btn-i.site-btn.site-btn--violet
              span REQUEST A DEMO




    .section__logo-row.site-container
      .section__logo-title PARTNERING WITH eMOBILITY LEADERS
      .section__logo-items
        .section__logo-item
          picture
            img.lazyload(src="img/Ausgrid.png" alt="img")
        .section__logo-item
          picture
            img.lazyload(src="img/Ausgrid.png" alt="img")
        .section__logo-item
          picture
            img.lazyload(src="img/Ausgrid.png" alt="img")
        .section__logo-item
          picture
            img.lazyload(src="img/Ausgrid.png" alt="img")
        .section__logo-item
          picture
            img.lazyload(src="img/Ausgrid.png" alt="img")
      .section__logo-link-wrapper
        a(href='').section__logo-link View  customer success stories


    .section-heading
      .section-heading__inner.site-container
        .section-heading__left
          .section-heading__text.position-center
            p.section-heading__text-row The Evenergi advisory team has extensive experience across electric mobility, energy infrastructure, behavioural psychology, machine learning and software development, gained from working with major government and corporate customers in Australia, United Kingdom, and France.
        .section-heading__right
          .site-container-half.site-container-half--right
            .section-heading__right-image-wrapper
              if(pageActive === 'service-page')
                .section-heading__right-image.height-800
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-2.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-2.jpg" alt="img").lazyload


    .section-problems
      .section-problems__inner.site-container
        .section-problems__title.section-title.center Evenergi provides a range of customised services:
        .section-problems__list.custom-row
          .section-problems__item.custom-col
            .section-problems__case.color-case.orange.display-block
              .section-problems__case-title HEADING 01
              .section-problems__case-list-wrapper
                ul.section-problems__case-list
                  li.section-problems__case-list-item Future fleet strategy & fleet transition planning
                  li.section-problems__case-list-item New product development -  mobility and energy-related
                  li.section-problems__case-list-item Energy and EV data management platforms
                  li.section-problems__case-list-item Future fleet strategy & fleet transition planning
                  li.section-problems__case-list-item New product development -  mobility and energy-related


          .section-problems__item.custom-col
            .section-problems__case.color-case.violet.display-block
              .section-problems__case-title HEADING 02
              .section-problems__case-list-wrapper
                ul.section-problems__case-list
                  li.section-problems__case-list-item Energy and EV data management platforms
                  li.section-problems__case-list-item Grid impact studies
                  li.section-problems__case-list-item Staff engagement around new mobility
                  li.section-problems__case-list-item Community engagement around new mobility
                  li.section-problems__case-list-item Charging infrastructure network planning

          .section-problems__item.custom-col
            .section-problems__case.color-case.blue.display-block
              .section-problems__case-title HEADING 03
              .section-problems__case-list-wrapper
                ul.section-problems__case-list
                  li.section-problems__case-list-item Grant preparation and applications
                  li.section-problems__case-list-item Procurement documentation and process - charging infrastructure and low emission vehicles
                  li.section-problems__case-list-item Solar, storage and charging infrastructure integrated design
        .section-problems__info.center
          p.section-problems__info-text Our energy, mobility and electric vehicle advisors use our software-as-a-service product solutions such as Car Operating Cost and Carbon Calculator, GridFleet™, BetterFleet and EVexperience, to help develop economic and technical models to support the migration to eMobility for your organisation, whether it's for your fleets or for your customers.



    .section-circle.pb-0
      .section-circle__inner.site-container
        .section-circle__row.custom-row.mar-bot
          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-1.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-1.jpg" alt="img").lazyload

            .section-circle__item-title Public sector
            .section-circle__item-descr Charging infrastructure forecasting and planning, community engagement and fleet migration
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE

          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-2.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-2.jpg" alt="img").lazyload

            .section-circle__item-title Energy distributors
            .section-circle__item-descr Charging infrastructure network impact using GridFleet™ tool
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE

          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-3.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-3.jpg" alt="img").lazyload

            .section-circle__item-title Energy retailers
            .section-circle__item-descr Electric vehicle business model development. New EV integrated customer journeys using My EV Experience platform
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE

          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-4.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-4.jpg" alt="img").lazyload

            .section-circle__item-title eMobility sector
            .section-circle__item-descr Electric vehicle fleet integration, new customer journeys and new business model develop- ment, electric vehicle advice
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE

          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-5.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-5.jpg" alt="img").lazyload

            .section-circle__item-title Logistics sector
            .section-circle__item-descr Electric vehicle suitability analysis (including vehicle sourcing and procurement), infrastructure strategy and planning and simulation using GridFleet™
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE

          .section-circle__item.custom-col.item-bg
            .section-circle__item-img-wrapper
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="./img/service-img-6.webp" type="image/webp")
                img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-src="./img/service-img-6.jpg" alt="img").lazyload

            .section-circle__item-title Electric buses
            .section-circle__item-descr Electric bus suitability analysis. Detailed route-based analysis and infrastructure planning using GridFleet™
            .section-circle__item-bnt
              a(href='#').section-circle__item-link READ MORE




    .section-solution.border-top
      .section-solution__inner.site-container
        .section-solution__title.section-title build your fleet
        .section-solution__head
          .site-tab__wrapper
            .section-solution__tab.site-tab
              .section-solution__tab-item.site-tab__item.active(data-tab-name="betterfleet01")
                span Free BetterFleet Software
              .section-solution__tab-item.site-tab__item(data-tab-name="betterfleet02")
                span BetterFleet Bureau Service
              .section-solution__tab-item.site-tab__item(data-tab-name="betterfleet03")
                span Future Fleet Advisory

        .section-solution__body
          .section-solution__content.active(data-tab-content="betterfleet01")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text Create a powerful executive report in minutes with our free fleet management software for Australian Fleets. Including a powerful free fleet car operating cost calculator and fully customisable new vehicle analytics tool and scenario analysis.
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload





          .section-solution__content(data-tab-content="betterfleet02")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text 2Create a powerful executive report in minutes with our free fleet management software for Australian Fleets. Including a powerful free fleet car operating cost calculator and fully customisable new vehicle analytics tool and scenario analysis.
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload



          .section-solution__content(data-tab-content="betterfleet03")
            .section-solution__content--inner.dflex
              .section-solution__text.service-page-text 1Create a powerful executive report in minutes with our free fleet management software for Australian Fleets. Including a powerful free fleet car operating cost calculator and fully customisable new vehicle analytics tool and scenario analysis.
                .section-connect__btn.site-btn--start
                  a(href='#').site-btn.site-btn--violet LEARN MORE
              .section-solution__image-wrapper
                .section-solution__image
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-srcset="./img/service-tab-1.webp" type="image/webp")
                    img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="./img/service-tab-1.jpg" alt="img").lazyload





    .section-connect.bg-right
      .section-connect__inner.site-container
        .section-connect__image-wrapper
          .section-connect__image
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="./img/connect-2.webp" type="image/webp")
              img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="./img/connect-2.png" alt="img").lazyload

        .section-connect__text-wrapper.txt-start.justify-start
          .section-connect__title.mb-middle.section-title.section-title--secondary CASE STUDY HEADING
          .section-connect__subtitle.mb-middle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow View case study



    .section-connect
      .section-connect__inner.site-container
        .section-connect__text-wrapper
          .section-connect__title.section-title.section-title--secondary WORK WITH US
          .section-connect__subtitle Get in touch to find out more about how we can help.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow LET’S CONNECT




