extends _layout

block vars
  - var pageTitle = "Study page";
  - var pageClass = "study-page";
  - var pageActive = "study-page";

block content
  div.main-wrap
    .section-top.webp-img(
      data-img="./img/blog-top-img01.jpg"
      data-webp="./img/blog-top-img01.webp")
      .section-top__gradient.webp-img(
        data-img="./img/secondary-gradient.png"
        data-webp="./img/secondary-gradient.webp")
      .section-top__inner.site-container
        h1.section-top__title CASE STUDY
        .section-top__desk Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.


    .section-heading
      .section-heading__inner.site-container
        .section-heading__left
          .section-heading__title.section-title heading
          .section-heading__text
            p.section-heading__text-row Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            p.section-heading__text-row Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.
            p.section-heading__text-row Hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            p.section-heading__text-row Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto.
        .section-heading__right
          .site-container-half.site-container-half--right
            .section-heading__right-image-wrapper
              .section-heading__right-image
                picture
                  source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="./img/study-2.webp" type="image/webp")
                  img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/study-2.jpg" alt="img").lazyload





    .section-slider
      .section-slider__inner.site-container
        .section-slider__title.section-title.section-title.center related articles
        .section-slider__wrap
          .section-slider__container.js_swiper_one
            .section-slider__wrapper.swiper-wrapper
              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")




    .section-connect.bg-right
      .section-connect__inner.site-container
        .section-connect__image-wrapper
          .section-connect__image
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="./img/connect-2.webp" type="image/webp")
              img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="./img/connect-2.png" alt="img").lazyload


        .section-connect__text-wrapper.txt-start.justify-start
          .section-connect__title.mb-middle.section-title.section-title--secondary CASE STUDY HEADING
          .section-connect__subtitle.mb-middle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow View case study


    .section-connect
      .section-connect__inner.site-container
        .section-connect__text-wrapper
          .section-connect__title.section-title.section-title--secondary WORK WITH US
          .section-connect__subtitle Get in touch to find out more about how we can help.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow LET’S CONNECT



